// Screen sizes
$input-width-desktop: 20rem;
$input-width-tablet: 100%;
$input-width-mobile: 16rem;

$form-width-desktop: 100%;
$form-width-mobile: 90%;

//font sizes
$base-font-size: 1rem; 


//colors
$primary-color: #ee7817;
$input-background: #f0f0f0;
$error-color: #e71f1f;
