body{
    margin: 0px;
    padding: 0px 20px;
}
main{
    display: grid;
    overflow: hidden;
    gap: 10px;
    /* height: 100vh; */
}

.shop{
    background-color: red;
}

.shopping-cart{
    display: none;
    background-color: blue;
}

#productItemsDisplay{
    padding: 10px;
    display: grid;
    /*min width is 300px if theres space, add more items next to it*/
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    background-color: chocolate;
    /* overflow:scroll; */
}
.item{
    padding: 5px;
    background-color: white;
}

#product-image{
    background-color: blue;
    width: 100%;
    height: 350px;
}

#productprice{
    display: flex;
    justify-content: space-between;
}

.purchase-btn{
    background-color: black;
    float: right;
    color: white;
    height: 40px;
}
.shopping-cart{
    padding: 0px 10px;
}
#cart-item-holder{
    border: 2px solid white;
    margin-top: 10px;
    display: grid;
    grid-template-columns:1fr 5fr 1fr;
    width: 100%;
    height: auto;
}

/* laptop */
@media (min-width: 988px) {
    main{
        grid-template-columns: 3fr 1fr;
    }
    .shopping-cart{
        display: block;
    }
    /* #productItemsDisplay{
        grid-template-columns: repeat(4, 1fr);
    } */
}

/* phone 
@media (max-width: 551px){
    #productItemsDisplay{
        grid-template-columns: 1fr;
    }    
    #product-image{
        background-color: blue;
        height: 350px;
    }
}*/