:root {
    --primaryColor:rgb(255, 255, 255);
    --secondaryColor: rgba(0,0,0,0.05);
    --accent-color:rgb(0,0,0);
    --box-margin: 10px 0;
    --border-10: 10px;
}

body{
    margin: 0px;
    padding: 0px 10px;
    background-color: var(--primaryColor);
}
main{
    max-width: 2144px;
}

/*------BANNER------*/
#bannerAds{
    margin: var(--box-margin);
    /* height: minmax(1fr,350px); */
    height: fit-content;
    width: 100%;
    background-color: var(--primaryColor);
}

.bannerImg{
    min-width: 250px;
    /* max-height: minmax(1fr,350px); */
    max-height: 350px;
    object-fit: cover;
    width: 100%;
    animation: carousel 10s ease-in-out 0 0 normal;
}

@keyframes carousel {
    0%{opacity: 1; transform: translateX(100);}
    100%{opacity: 1;transform: translateX(0);}
}

/*------END BANNER------*/

/*------NAV------*/
nav{
    position: relative;
    display: flex;
    min-width: 250px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--primaryColor); */
    margin: var(--box-margin);
}

#cartImage{
    margin-right: 15px;
    height: 30px;
}
#cartItemAmount{
    position: absolute;
    top: 15%;
    right: 1.5%;
    padding: 1px 4px;
    background-color: orange;
    border-radius: 15px;
}

#shopping-cart{
    overflow: hidden;
    display: none;
    position: absolute;
    background-color: var(--primaryColor);
    top: 0;
    right: 0;
    width: 95%;
    height: 100vh;
    z-index: 2;
}
#cartHeader{
    position: relative;
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}
.kill{
    color: red;
}
/*------ END OF NAV------*/
/*------ Floating Menu------*/
#floatingMenu{
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 0;
    background-color: orange;
    color: var(--accent-color);
    padding: 5px 20px;
    border-radius: var(--border-10);
    z-index: 3;
}

#cancelProduct:hover,#submitProduct:hover,.item:hover,
#cart-item-holder:hover{
    transform: scale(1.005);
    box-shadow: 0px 0px 25px -10px blue;
    cursor: pointer;
}

/*------END OF ACTION BUTTON------*/
/*------STORE ITEMS------*/
#productItemsDisplay{
    display: grid;
    /*min width is 250px if theres space, add more items next to it*/
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.item{
    padding: var(--border-10);
    background-color: var(--secondaryColor);
    border-radius: var(--border-10);
}
.item:hover{
    cursor: pointer;
    opacity: 95%;
}

.product-image{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.productname{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.productdescription{
    height: 55px;
    opacity: 75%;
    overflow:hidden;
}

.productprice{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.purchase-btn{
    border: 0;
    background-color: var(--accent-color);
    color: white;
    height: 40px;
    border-radius: var(--border-10);
}

.purchase-btn:hover{
    /* width: 60px; */
    cursor: pointer;
    background-color: transparent;
    color: var(--accent-color);
    border: 2px solid black;
    border-radius: var(--border-10);
}
/*------END OF STORE ITEMS------*/

/*------SHOPPING CART------*/
#shopping-cart{
    padding: 0px 10px;
}
#cart-item-holder{
    /* max-width: 400px; */
    /* border: 0.5px solid var(--accent-color); */
    background-color: var(--secondaryColor);
    margin: var(--box-margin);
    display: grid;
    grid-template-columns:0.5fr 5fr 3fr;
    align-items: center;
    /* width: 95%; */
    border-radius: var(--border-10);
    /* height: auto; */
}

.priceContainer{
    display: flex;
    justify-content: space-between;
}

.cartProductName{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    margin: var(--box-margin);
    padding: 0;
}
.cartProductPrice{
    font-size: large;
}

#cart-total-session{
    width: 95%;
    position: absolute;
    bottom: 0;
}
.element-section{
    display: grid;
    grid-template-columns: 6fr 2fr;
    margin: var(--box-margin);
}
/*------END OF SHOPPING CART------*/

/* laptop */
@media (min-width: 988px) {
    main{
        display: grid;
        overflow: hidden;
        gap: var(--border-10);
        grid-template-columns: 3fr 1fr;
    }
    #shopping-cart{
        display: block;
        position: relative;
        /* width: 100%; */
    }
    #cartItemAmount,#cartImage{
        display: none;
    }
    #axis{
        display: none;
    }
    /* #productItemsDisplay{
        grid-template-columns: repeat(4, 1fr);
    } */
}

#blackBG{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    /* display: none; */
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.75);
    z-index: 3;
}
#whiteContainer{
    position: relative;
    background-color: white;
    width: 80%;
    height: fit-content;
    border-radius: 10px;
    padding: 10px;
}

#whiteContainer input{
    background-color: rgba(0,0,0,0.05);
    border: 0; 
    padding: 0px 5px; 
    height: 35px; 
    border-radius: 10px;
    margin: 5px 0;
    width: 97%
}