

<div class="bg-white">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8" *ngIf="recentVisited.length!=0">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Recently Viewed</h2>
  
        <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"  >

         
                <div class="group relative" *ngFor="let i of recentVisited" (click)="viewProduct(i._id,i.name)">
                  <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                    <img [src]="i.image" alt=" black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                  </div>
                  <div class="mt-4 flex justify-between">
                    <div>
                      <h3 class="text-sm text-gray-700">
                       
                          <span aria-hidden="true" class="absolute inset-0"></span>
                          {{i.name}}
                        
                      </h3>
                     
                    </div>
                    <p class="text-sm font-medium text-gray-900">R{{i.price}}</p>
                  </div>
                </div>
        </div>


      
    </div>


  </div>

  <div class="bg-white mt-4" *ngFor="let i of activeCategory">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
      <h2 class="text-xl font-bold tracking-tight text-gray-900">{{i.name}}</h2>

        <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8" >
            <ng-container *ngFor="let product of productsToShow">
                <div class="group relative"  *ngIf="product.categories.includes(i._id)" (click)="viewProduct(product._id,product.name)" >
                    <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                      <img [src]="product.image" alt="black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                    </div>
                    <div class="mt-4 flex justify-between">
                      <div>
                        <h3 class="text-sm text-gray-700">
                         
                            <span aria-hidden="true" class="absolute inset-0"></span>
                            {{product.name}}
                          
                        </h3>
                       
                      </div>
                      <p class="text-sm font-medium text-gray-900">R{{product.price}}</p>
                    </div>
                  </div>
            </ng-container>
          
    
          <!-- More products... -->
        </div>

      
    </div>
  </div>