#master{
    display: grid;
    grid-template-rows: 1fr;
}

.actionButton{
    padding: 15px 20px;
}
.sideMenu{
    display: none;
}
@media (min-width: 810px) {
    #master{
        grid-template-columns: 1fr 5fr;
    }
    .sideMenu{
        display: block;
    }
}