#master{
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.actionButton{
    padding: 15px 20px;
}
.active{
    color: black;
    background-color: var(--secondaryColor);
}
@media (min-width: 988px) {
    #master{
        grid-template-columns: 1fr 5fr;
    }
}