<div id="container">
  <div id="sellerHolder" *ngIf="user != undefined">
    <img [src]='user.profileImage' alt="profile picture">
    <h3>{{user.name}} {{user.surname}}</h3>
  </div>
  <div id="sellerHolder" *ngIf="businessInfo.businessName!=''">
    <img [src]='businessInfo.profileImage' alt="profile picture">
    <h3>{{businessInfo.businessName}}</h3>
    <p><small>{{businessInfo.businessDescription}}</small></p>
  </div>

  <div id="productItemsDisplay">
    <ng-container *ngFor="let product of products">
      <div class="item1" (click)="viewProductDetails(product._id,product.name)">
        <img [src]="product.image" class="product-image" alt="Product Image"/>
        <div class="ItemDescription">
          <h1 title="${{product.name}}" class="productname"> {{product.name}} </h1>
          <p class="productdescription"> {{product.description}} </p>
          <div class="productprice">
            <div><span>Price: R {{product.price}}<br/></span></div>
            <!-- <button class="purchase-btn" data-id="{{product._id}}"></button> -->
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>