form,.splitBytwo{
    // margin: 5px 25px;
    div{
        margin: 10px 0;
        input,textarea{
            width: 100%;
            min-height: 25px;
            border: 1px solid black;
            border-radius: var(--border-10);
        }

        textarea{
            min-height: 100px;
        }
    }
}
#image{
    max-height: 300px;
    // background-color: black;
    margin: 0 25px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    img{
        margin: 0 10px;
        max-height: 300px;
    }
}
.categoriesHolder{
    margin: 10px 0;
    padding: 10px 0;
    .categories{
        border-radius: 5px;
        margin: 5px;
        padding: 5px;
        background-color: var(--accent-color);
        span{
            img{
                border-radius: 15px;
                max-width: 15px;
            }
        }
    }
}
.buttonSection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .actionButton{
        margin: 0 5px;
        padding: 20px;
        width: 100%;
        height: 100%;
        border-radius: var(--border-10);
        border: 0;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            max-width: 20px;
        }
    }
}