<div style="margin-top:35px;">
    <nav class="splitByTwo">
        <div>
            <img class="logo" src="{{logoOfCompany}}" alt="logo">
        </div>
        <div class="buttonSection">
            <button class="actionButton"><p>account</p></button>
            <button class="actionButton"><img src="{{shoppingCartImage}}" alt="shopping cart"></button>
        </div>
    </nav>
    <div id="searchBarHolding">
        <div><input type="text" placeholder="Type Here..." name="searchBar" id="searchBar"/></div>
        <div><button type="submit"><img src="{{searchicon}}" alt="searchIcon"></button></div>
    </div>
</div>
<router-outlet></router-outlet>
<footer>
    <p>footer</p>
</footer>
<!-- <div></div> -->