<div id="image" *ngIf="userInformation.profileImage != undefined">
    <label for="file">
        <img [src]="userInformation.profileImage" alt="profile image">
    </label>
    <input type="file" id="file" (change)="upload($event)" accept="*.png,*.jpg,*.jpeg,image/*">
</div>

<div id="image" *ngIf="userInformation.profileImage == undefined">
    <label for="file">
        <img [src]="addIconImage" alt="profile image">
    </label>
    <input type="file" id="file" (change)="upload($event)" accept="*.png,*.jpg,*.jpeg,image/*">
</div>

<form [formGroup]="userForm">
    <div>
        <label for="name">Name:</label>
        <input type="text" formControlName="name" />
    </div>
    <div>
        <label for="description">Surname:</label>
        <textarea type="text" formControlName="surname"></textarea>
    </div>
    <div>
        <label for="price">Email:</label>
        <input type="email" formControlName="email"/>
    </div>
    <div>
        <label for="stock">Number:</label>
        <input type="number" formControlName="number"/>
    </div>
    <div class="buttonSection">
        <button class="actionButton">CANCEL</button>
        <button class="actionButton"> SAVE</button>
    </div>
</form>