<div style="margin-top:35px;">
    <nav class="splitByTwo">
        <div routerLink="/">
            <img class="logo" [src]="logoOfCompany" alt="logo">
        </div>
        <div class="buttonSection">
            <button class="actionButton" routerLink="/account"><p>account</p></button>
            <button class="actionButton" routerLink="/cart"><img src="{{shoppingCartImage}}" alt="shopping cart"></button>
        </div>
    </nav>
    <div id="searchBarHolding">
        <div>
            <form [formGroup]="searchForm" (ngSubmit)="searchForProduct()">
                <input formControlName="search" type="text" placeholder="Type Here..." name="searchBar" id="searchBar"/>
            </form>
        </div>
        <div><button type="submit" (click)="searchForProduct()"><img src="{{searchicon}}" alt="searchIcon"></button></div>
    </div>
</div>