.menu{
    background-color: black;
    color: white;
    border-radius: var(--border-10);
    border: 0;
    margin-left: 2%;
    padding: 10px 15px;
    height: 100%;
    font-size: larger;
}
#container{
    margin-top:35px;
}
nav{
    position: relative;
}
.sideMenuContainer{
    position: fixed;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: 5fr 2fr;
    width: 100%;
    height: 100vh; 
    .sideMenu{
        padding-top:35px;
        background-color: rgba(255,255,255,1);
        p{
            padding: 20px;
            margin: 5px;
            border-radius: var(--border-10);
        }
    }
    .sideMenuBlank{
        background-color: rgba(0,0,0,0.5);
    }
}