// Screen sizes
$input-width-desktop: 25rem;
$input-width-tablet: 90%;
$input-width-mobile: 85%;

$form-width-desktop: 100%;


//font sizes
$base-font-size: 1rem; 


//colors
$primary-color: #ee7817;
$input-background: #f0f0f0;
$error-color: #e71f1f;
