<div *ngIf="shoppingCart == null || shoppingCart.items.length == 0">
    <div class="holderImages">
        <h1>Your cart is empty.</h1>
        <p>Let's fill it up with awesome stuff!</p>
        <button routerLink="/" style="
        background-color: var(--accent-color);
        color:white; 
        border-radius: 10px; 
        border:0px; 
        padding: 10px;
        margin: 10px;"
        >BROWSER ITEMS</button>
    </div>
</div>
<div class="checkout-container" *ngIf="shoppingCart != null && shoppingCart.items.length != 0">
    <div class="checkout">
        <div>
            <div><p>Total: {{shoppingCart.items.length}} items</p></div>
        </div>
        <div>
            R {{cartTotalPrice}}
        </div>
    </div>
    <div>
        <button class="checkout-btn" (click)="checkout()">checkout</button>
    </div>
</div>
<div *ngIf="shoppingCart != null && shoppingCart.items.length != 0" style="animation-name: rightTransition;animation-duration: .5s;">
    <div *ngFor="let item of shoppingCart.items" class="main">
        <div class="image">
            <img [src]="item.productId.image" alt="">
        </div>
        <div class="primary">
            <div class="second">
                <div>
                    <p>{{item.productId.name}}</p>
                    <p>R {{item.price}}</p>
                </div>
                <div class="bin" (click)="removeFromCart(item.productId._id)">
                    <i class="fa-solid fa-trash"></i>
                </div>
            </div>
            <p class="productdescription">{{item.productId.description}}</p>
            <div class="second">
                <p>Quantity:</p>
                <div>
                    <input type="number" [placeholder]="item.quantity" (change)="changeValue($event,item.productId._id)"/>
                </div>
            </div>
        </div>
    </div>
    <form class="mainExtras">
        <h1>EXTRAS</h1>
        <textarea name="add-on" id="add-on-textarea" [(ngModel)]="extraText"></textarea>
    </form>
</div>