@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
    --primaryColor:rgb(255, 255, 255);
    --secondaryColor: rgba(255,138,0,1);
    --accent-color:rgb(67,93,80);
    --box-margin: 10px 0;
    --border-10: 10px;
    --radiusForButtons:12px;
}
@keyframes rightTransition{
    from{
        background-color: transparent;
        color: var(--accent-color);
    }
    to{
        background-color: black;
        color: white;
        font-weight: 500;
    }
}
.welcome{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.splitByTwo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        max-height: 25px;
    }
    .buttonSection{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        // padding: 0 2%;
        p{
            margin:0;
        }
        .actionButton{
            border: 0;
            background-color: rgba(0,0,0,1);
            margin-left: 2%;
            padding: 5px 15px;
            height: 100%;
            border-radius: var(--radiusForButtons);
            color: white;
            img{
                max-height: 10px;
            }
        }

    }
}
nav{
    margin: 2% 0;
    height: 40px;
}
#searchBarHolding{
    display: grid;
    grid-template-columns: 5fr 0.75fr;
    gap: 10px;
    margin: var(--box-margin);
    input{
        width: 100%;
        background-color: rgba(217,217,217,1);
        border-radius: var(--radiusForButtons);
        border: 1px solid black;
        min-height: 40px;
        // padding: 5px;
    }
    button{
        background-color: var(--accent-color);
        height: 100%;
        width: 100%;
        border-radius: var(--radiusForButtons);
        border: 0;
        img{
            max-height: 10px;
        }
    }
}