<h1 class="welcome">ORDERS</h1>
<div *ngFor="let i of product" class="mainOrder">
    <div class="header">
        <span>{{ i._id }}</span>
        <span>{{ i.status }}</span>
    </div>
    <div class="body">
        <div></div>
        <div>Name</div>
        <div>Quantity</div>
        <div>Price</div>
    </div>
    <div *ngFor="let j of i.items; let k = index" class="body">
        <div>{{ k+1 }}</div>
        <div>{{ j.productId.name }}</div>
        <div>{{ j.quantity }}</div>
        <div>{{ j.price }}</div>
    </div>
    <div *ngIf="i.status=='UNFURFILLED'" class="splitByTwo">
        <div>Accept order</div>
        <div class="buttonSection">
            <button class="actionButton">no</button>
            <button class="actionButton">yes</button>
        </div>
    </div>
</div>