<div>
    <form [formGroup]="businessForm" *ngIf="doesNotExist">
        <div>
            <label for="businessName">Business Name:</label>
            <input type="text" formControlName="businessName" [(ngModel)]="businessFormWorking.businessName"/>
        </div>
        <div>
            <label for="businessDescription">Business Description:</label>
            <textarea formControlName="businessDescription" [(ngModel)]="businessFormWorking.businessDescription"></textarea>
        </div>
        <div class="buttonSection">
            <button class="actionButton" (click)="submitBusinessForm()"> 
                SAVE<img class="loader" [src]="progressLoader" *ngIf="sending">
            </button>
        </div>
    </form>
    <div>
        <div class="holderImages" *ngIf="!doesNotExist">
            <h1>business exist</h1>
            <p>looks like your account is registered under a business, go to look to edit details or use button below</p>
            <button routerLink="/seller/business/look" style="
                background-color: var(--accent-color);
                color:white; 
                border-radius: 10px; 
                border:0px; 
                padding: 10px;
                margin: 10px;"
            >EDIT BUSINESS</button>
        </div>
    </div>
</div>